<ion-view view-title="I Support Foundation">
<ion-content class=" about-content">
<div class="main-subheader "><h2>About Autism</h2></div>
<div class="card">
	<div class="item">
		<h2>Autism spectrum disorder</h2>
		<div class="accor-content fade">
			<p>Autism refers to a group of five disorders characterized by delays in the development of multiple basic functions including socialization and communication that have traditionally been referred to as autism.</p>
			<!-- <img src="images/Autism_Spectrum_Disorder-1.jpg"> -->
			<p>Autism means a development disability significantly affecting verbal and non verbal communication and social interaction, generally evident before age three that adversely affects educational performance.</p>
			<p><b>DSM –IV (1994) –characteristics:</b></p>
			<ul>
				<li>Qualitative impairment in social interaction.</li>
				<li>Qualitative impairment in communication.</li>
				<li>Restricted repetitive and stereotyped patterns of behaviour, interest and activities.</li>
			</ul>
			<p><b>Impairment in social interaction:</b></p>
			<ul>
				<li>Lack of responsiveness to people.</li>
				<li>Withdrawal from others prefers to be left alone.</li>
				<li>Lack of eye contact.</li>
				<li>Rarely seeks out for others for comfort.</li>
				<li>No interest in making friends –solo play.</li>
				<li>Absence of imagination play.</li>
			</ul>
			<p><b>Specific language characteristics: </b></p>
			<ul>
				<li>Lack of response to speech.</li>
				<li>Slower acquisition of speech sound production.</li>
				<li>Disinterest in pointing to things and asking question.</li>
				<li>Severe delay in receptive and expressive language along with delay in emotional and social skills.</li>
				<li>Echolalia of speech.</li>
				<li>Lack of topic initiation and maintenance.</li>
				<li>Short sentences (2 to 3 words utterance with grammatical errors).</li>
				<li>Wrong word order in sentence.</li>
			</ul>
			<p><b>Restricted repertoire of activities and interest:</b></p>
			<ul>
				<li>Ritualistic behaviour- spinning objects, twisting their fingers, flapping hands.</li>
				<li>Desire for sameness and routine.</li>
				<li>Pre occupied with objects or parts of objects (wheels of a car).</li>
				<li>Preference of mechanical noises.</li>
				<li>Stereotypic body moments.</li>
			</ul>
			<p><b>Associated problem:</b></p>
			<ul>
				<li>Seizures -1/3rd of them develop.</li>
				<li>Hearing loss.</li>
				<li>Hypo or hyper sensitivity to sensory stimuli.</li>
				<li>Mental retardation [cognitive deficits].</li>
			</ul>
			<p><b>TEAM MEMBERS- MULTIDISCIPLINARY APPROACH:</b></p>
			<ul>
				<li>Parents and family members</li>
				<li>Neurologist</li>
				<li>Psychologist</li>
				<li>Speech language pathologist</li>
				<li>Occupational therapist</li>
				<li>Behavioural therapist</li>
				<li>Audiologist</li>
				<li>Special education</li>
			</ul>
			<p><b>Assessment:</b></p>
			<ul>
				<li><b>M-CHAT:</b> Modified checklist for autism in toddlers</li>
				<li><b>ABCCP:</b> Autistic behaviour composite checklist and profile.</li>
				<li><b>CARS:</b> Childhood Autism rating scale</li>
				<li><b>"DSM-IV &amp; V:"</b> Diagnostic and statistical manual of mental disorders</li>
				<li><b>Com Deall checklist</b></li>
			</ul>
			<p><b>Where can I learn more? </b></p>
			<ul>
				<li>To learn more about the history of Autism research, read <b>A History of Autism: Conversations with the Pioneers by Adam Feinstein</b>.</li>
				<li>To learn more about the massive increase in Autism diagnoses in recent years, read anthropologist <b>Roy Richard Grinker's Unstrange Minds: Remapping the World of Autism</b>.</li>
				<li>To learn more about the vaccine controversy and autism research, read <b>Autism's False Prophets: Bad Science, Risky Medicine, and the Search for a Cure by Paul A. Offit</b>.</li>
				<li>To learn more about twice-exceptionals (dually gifted and disabled people), including Autistic twice-exceptionals, read <b>Different Minds by Deirdre V. Lovecky</b>.</li>
				<li>To learn more about Asperger's Syndrome, read <b>The Complete Guide to Asperger's Syndrome by Tony Attwood</b>.</li>
				<li>To learn more about concerns about Autistic people and law enforcement, read <b>Autism, Advocates and Law Enforcement Professionals: Recognizing and ReducingRisk Situations for People with Autism Spectrum Disorders by former police officer Dennis Debbaudt</b>.</li>
			</ul>
		</div>
		<footer read-more><i class="icon ion-android-arrow-forward"></i><span>Read more</span></footer>
	</div>
</div>
<div class="card">
	<div class="item">
		<h2>General Tips</h2>
		<div class="accor-content fade">
			<p>Here are some tips from people who have experienced what you are going through:</p>
			<p>
				<b>Get going. </b>Getting your child started in treatment will help. There are many details you will be managing in an intensive treatment program, especially if it is based in your home. If you know your child is engaged in meaningful activities, you will be able to focus more on moving forward. It may also free up some of your time so you can educate yourself, advocate for your child, and take care of yourself so that you can keep going.
			</p>
			<p> <b>Ask for help. </b>Asking for help can be very difficult, especially at first. Don't hesitate to use whatever support is available to you. People around you may want to help, but may not know how. Is there someone who can take your other kids somewhere for an afternoon? Or  cook dinner for your family one night so that you can spend the time learning: Can they pick a few things up for you at the store or do a load of laundry? Can they let other people know you are going through a difficult time and could use a hand?
			</p>
			<p> <b>Talk to someone. </b>Everyone needs someone to talk to. Let someone know what you are going through and how you feel. Someone who just listens can be a great source of strength. If you can't get out of the house, use the phone to call a friend.
			</p>
			<p class="italic">“At my support group I met a group of women who were juggling the same things I am. It felt so good not to feel like I was from another planet!”
			</p>
			<p> <b>Consider joining </b>a support group. It may be helpful to listen or talk to people who have been or are going through a similar experience. Support groups can be a great sources of information about what services are available in your area and who provide them. You may have to try more than one to find a group that feels right to you. You may find you aren't a “support group kind of person.” For many parents in your situation, support groups provide valuable hope, comfort and encouragement.
			</p>
			<p> <b>Try to take a break. </b>If you can, allow yourself to take some time away, even if it is only a few minutes to take a walk. If it's possible, getting out to a movie, going shopping, or visiting a friend can make a world of difference. If you feel guilty about taking a break, try to remind yourself that it will help you to be renewed for the things you need to do when you get back.  Try to get some rest. If you are getting regular sleep, you will be better prepared to make good decisions, be more patient with your child and deal with the stress in your life.
			</p>
			<p> <b>Consider keeping a journal - </b>“Writing that describes traumatic events and our deepest thoughts and feelings about them is linked with improved immune function, improved emotional and physical health,” and positive behavioral changes. Some parents have found journaling a helpful tool for keeping track of their child's progress, what's working and what isn't.
			</p>
			<p>Be mindful of the time you spend on the Internet. The Internet will be one of the most important tools you have for learning what you need to know about autism and how to help your child.</p>
		</div>
		<footer read-more><i class="icon ion-android-arrow-forward"></i><span>Read more</span></footer>
	</div>
</div>
<div class="card">
	<div class="item">
		<h2>Tips for family members</h2>
		<div class="accor-content fade">
			<p>
				<b>Tips for Parents </b>
			</p>
			<ul>
				<li>Learn to be the best advocate you can be for your child.Be informed. Accept the problem, don’t succumb to guilt. Quit doctor shopping and believing in spiritual values and start rehabilitation at the earliest.</li>
				<li> Take advantage of all the services that are available to you in your community. You will meet practitioners and providers who can educate you and help you. You will gather great strength from the people you meet.</li>
				<li>Don't push your feelings away. Talk about them. You may feel both ambivalent and angry. Those are emotions to be expected. It’s ok to have conflicting emotions. Try to direct your anger towards the disorder and not towards your loved ones. When you find yourself arguing with your spouse over an autism related issue, try to remember that this topic is painful for both of you; and be careful not to get mad at each other when it really is the autism that has you so upset and angry.</li>
				<li>Try to have some semblance of an adult life. Be careful to not let autism consume every waking hour of your life. Spend quality time with your typically developing children and your spouse, and refrain from constantly talking about autism. Everyone in your family needs support, and to be happy despite the circumstances. Appreciate the small victories your child may achieve. Love your child and take great pride in each small accomplishment. Focus on what they can do instead of making comparisons with a typically developing child. Love them for who they are rather than what they should be.</li>
				<li>Get involved with the Autism community. Don't underestimate the power of “community”. You may be the captain of your team, but you can't do everything yourself. Make friends with other parents who have children with autism. By meeting other parents you will have the support of families who understand your day to day challenges. Getting involved with autism advocacy is empowering and productive. You will be doing something for yourself as well as your child by being proactive.</li>
			</ul>
			<p>
				<b>Tips for Brothers &amp; Sisters </b>
			</p>
			<ul>
				<li>Remember that you are not alone. Every family is confronted with life's challenge and yes, autism is challenging but, if you look closely, nearly everyone has some difficulty to face in their families.</li>
				<li>Be proud of your brother or sister. Learn to talk about autism and be open and comfortable describing the disorder to others. If you are comfortable with the topic…they will be comfortable too. If you are embarrassed by your brother or sister, your friends will sense this and it will make it awkward for them. If you talk openly to your friends about autism, they will become comfortable. But, like everyone else, sometimes you will love your brother or sister, and sometimes you will hate them. It's okay to feel your feelings. And, often it's easier when you have a professional counselor to help you understand them – someone special who is here just for you! Love your brother or sister the way they are. </li>
				<li>While it is OK to be sad that you have a brother or sister affected by autism it doesn't help to be upset and angry for extended periods of time. Your anger doesn't change the situation; it only makes you unhappy. Remember your Mom and Dad may have those feelings too.</li>
				<li>Spend time with your Mom and Dad alone. Doing things together as a family with and without your brother or sister strengthens your family bond. It's OK for you to want alone time. Having a family member with autism can often be very time consuming, and attention grabbing. You need to feel important too. Remember, even if your brother or sister didn't have autism, you would still need alone time with Mom and Dad.</li>
				<li>Find an activity you can do with your brother or sister. You will find it rewarding to connect with your brother or sister, even if it is just putting a simple puzzle together. No matter how impaired they may be, doing something together creates a closeness. They will look forward to these shared activities and greet you with a special smile.</li>
			</ul>
			<p>
				<b>Tips for Grandparents and Extended Family</b>
			</p>
			<ul>
				<li>Family members have a lot to offer. Each family member is able to offer the things they have learned to do best over time. Ask how you can be helpful to your family. Your efforts will be appreciated whether it means taking care of the child so that the parents can go out to dinner, or raising money for the special school that helps your family's child. Organize a lunch, a theatre benefit, a carnival, or a card game. It will warm your family's hearts to know that you are pitching in to create support and closeness.</li>
				<li>Seek out your own support. If you find yourself having a difficult time accepting and dealing with the fact that your loved one has autism, seek out your own support. Your family may not be able to provide you with that kind of support so you must be considerate and look elsewhere. In this way you can be stronger for them, helping with the many challenges they face.</li>
				<li>Be open and honest about the disorder. The more you talk about the matter, the better you will feel. Your friends and family can become your support system… but only if you share your thoughts with them. It may be hard to talk about it at first, but as time goes on it will be easier. In the end your experience with autism will end up teaching you and your family
				profound life lessons.</li>
				<li>Put judgment aside. Consider your family's feelings and be supportive. Respect the decisions they make for their child with autism. They are working very hard to explore and research all options, and are typically coming to well thought out conclusions. Try not to compare children (this goes for typically developing kids as well). Children with autism can be brought up to achieve their personal best.</li>
				<li>Learn more about Autism. It affects people of all social and economic standing. There is promising research, with many possibilities for the future. Share that sense of hope with your family while educating yourself about the best ways to help manage this disorder.</li>
				<li>Carve out special time for each child. You can enjoy special moments with both typically developing family members and the family member with autism. Yes, they may be different but both children look forward to spending time with you. Children with autism thrive on routines, so find one thing that you can do together that is structured, even if it is simply going to a park for fifteen minutes. If you go to the same park every week, chances are over time that activity will become easier and easier… it just takes time and patience. If you are having a difficult time trying to determine what you can do, ask your family. They will sincerely appreciate that you are making.</li>
			</ul>
		</div>
		<footer read-more><i class="icon ion-android-arrow-forward"></i><span>Read more</span></footer>
	</div>
</div>
<div class="card">
	<div class="item">
		<h2>Myths</h2>
		<div class="accor-content fade">
			<p>Here are some myths about Autism:</p>
			<ul>
				<li>Kids with autism have no empathy.</li>
				<li>Non-speaking autistics always have an intellectual disability.</li>
				<li>Children with autism can't stand to be touched.</li>
				<li>There is an autism "epidemic".</li>
				<li>Kids with autism have no sense of humor.</li>
				<li>Children with autism don't feel love.</li>
				<li>Children with autism are mentally retarded. </li>
			</ul>
		</div>
		<footer read-more><i class="icon ion-android-arrow-forward"></i><span>Read more</span></footer>
	</div>
</div>
</ion-content>
</ion-view>
