<ion-view view-title="I Support Foundation">
<ion-content class=" about-content">
<div class="main-subheader "><h2>About Us</h2></div>
<div class="card">
	<div class="item">
		<h2>We Are</h2>
		<div class="accor-content fade">
			<p>
				A registered non-profit organization started in January 2014. We work closely with the Autistic and underprivileged children’s education and development in Lucknow and Bangalore. Also we have a school in Lucknow supporting 45 kids academics. We possess a vision to restore children's rights. It's just a beginning for us but we want to make it a master stroke, it's a long cherished dream, an infinite march for the welfare and rehabilitation. The aim is to help these children to reach their highest potential, as we believe in
				<b>‘I’m Society’!!</b>
			</p>
			<p>
				I Support Foundation is the outcome of the journey being raised alongside a brother- Shivam, who battled autism, a journey from struggle to success and a journey for opening an NGO to create a platform for those who have a lot of potential contained.
			</p>
		</div>
		<footer read-more><i class="icon ion-android-arrow-forward"></i><span>Read more</span></footer>
	</div>
</div>
<div class="card">
	<div class="item">
		<h2>Our Mission</h2>
		<div class="accor-content fade">
			<p>
				“To facilitate a barrier free environment; to enable the empowerment, to act as a catalyst for change that will enable of persons easing and improving people’s lives, fully participating members of the community nationwide”. As public expenditure on health in India is barely 1.2 percent of the gross domestic product (GDP) as against four percent in advanced countries, still no decisive percentage is spent on mental health and education. Resources and services for mental and behavioural disorders are disproportionately low compared to burden caused by these disorders the world over.
			</p>
			<p>
				I Support Foundation work towards encouraging Education, Functional Learning and Realization of individual potential of children with Intellectual deficit, especially: Autism and Underprivileged Children needs. We believe every child on this earth is born to blush in his or her own way, all have potentials and abilities, and no one can be termed as disabled.
			</p>
		</div>
		<footer read-more><i class="icon ion-android-arrow-forward"></i><span>Read more</span></footer>
	</div>
</div>
	<div class="card">
		<div class="item">
			<h2>Our Areas of work</h2>
			<div class="accor-content fade">
				<p><b>Our focus areas are:</b></p>
					<ul>
						<li>The right to Education and Development (Differently abled and Underprivileged).</li>
						<li>The right to Protection from Molestation, Exploitation, Child Abuse.</li>
					</ul>

				<p><b>Our Activities include- developing an inclusive society by:</b></p>
					<ul>
						<li><b>Working towards special children’s development-</b> the program focuses on overall development of child, depending on needs as well as Potential. Functional academics are imparted with parallel intervention with allied therapies depending on the needs of the child which are assessed through special educator, psychologist, and speech pathologist, according to their functional level. While setting the goals, the family needs are given priority. After every three months each child’s progress is assessed and on the basis of their performance short-term goals are delineated for the next quarter. In this process teachers and parents are equal partners- both meet and discuss the observations at school and home. On regular interval parents are called for class observation. </li>
						<li><b>Empowering underprivileged children Rights-</b> Examining the situation of the children in slum communities, collecting data from neglected areas about the number of children enrolled in school, the root causes that prevent children from accessing their rights to education-Gender- or caste-based discrimination, child labor, and drop out from school. Finding possible solution, by educating the community about the importance of Education, making them aware about the laws and policies implemented and neglected areas of India.</li>
					</ul>

			</div>
			<footer read-more><i class="icon ion-android-arrow-forward"></i><span>Read more</span></footer>
		</div>
	</div>
	<div class="card">
		<div class="item">
			<h2>Team</h2>
			<div class="accor-content fade">
				<p><b>Founders:</b></p>
					<ul>
						<li>Bobby</li>
						<li>Juhi</li>
					</ul>

				<p><b>Core Volunteers:</b></p>
					<ul>
						<li>Karthikeyan</li>
						<li>Utkarsh</li>
						<li>Divya</li>
						<li>Vandhana</li>
						<li>Ajitesh</li>
						<li>Ramya</li>
						<li>Nitish</li>
						<li>Praveen</li>
						<li>Rajiv</li>
						<li>Thanushree</li>
						<li>Ikshit</li>
						<li>Arvindra</li>
						<li>Arun</li>
						<li>Rashmi</li>
						<li>Devendran</li>
						<li>Supreeta</li>
						<li>Nidya</li>
						<li>Atul</li>
						<li>Preethika</li>
						<li>Raja</li>
					</ul>

		</div>
		<footer read-more><i class="icon ion-android-arrow-forward"></i><span>Read more</span></footer>
	</div>
</div>
</ion-content>
</ion-view>
