<ion-view view-title="I Support Foundation">
<ion-content class=" about-content">
<div class="main-subheader "><h2>Contact Us</h2></div>
<div class="card">
	<div class="item">
		<h2>Bangalore Office</h2>
		<div class="accor-content">
			<p>
				Building no-68, 2nd Floor, 9th Cross, Neeladri Nagar behind Iitina Mahavir Apartment, Electronic City, Phase 1, Bangalore- 560100
			</p>
		</div>
		<footer>
			<div>
				Ph: <a class="blue-link" ng-click="goToLink('tel://8197610262')">8197610262</a>
			</div>
		</footer>
	</div>
</div>
<div class="card">
	<div class="item">
		<h2>Lucknow School and Office</h2>
		<div class="accor-content">
			<p>
				A-238, Nakshatra apartment, 1st Floor, Opposite Kanchan house, Nilgiri Chauraha, Indranagar,  Lucknow- 226012
			</p>
		</div>
		<footer>
			<div>
				Ph: <a class="blue-link" ng-click="goToLink('tel://0522-4002889')">0522-4002889</a>
			</div>
		</footer>
	</div>
</div>
<div class="footer">
<div>
	Email: <a class="blue-link" ng-click="goToLink('mailto:Connect.isf@gmail.com')">Connect.isf@gmail.com</a>
</div>
<div>
	Website: <a class="blue-link" ng-click="goToLink('http://www.isupportfoundation.in/')">http://www.isupportfoundation.in</a>
</div>
<div>
	Blog: <a class="blue-link" ng-click="goToLink('https://isupportfoundation.wordpress.com/')">https://isupportfoundation.wordpress.com</a>
</div>
</div>
</ion-content>
</ion-view>
