<ion-view view-title="I Support Foundation">
<ion-content class=" about-content">
<div class="main-subheader "><h2>Home</h2></div>
<div class="card">
	<div class="article">
		<img src="img/article-2.jpg" alt="">
	</div>
</div>
<div class="card">
	<div class="article">
		<img src="img/article-3.png" alt="">
	</div>
</div>
<div class="card">
	<div class="article">
		<img src="img/article-4.png" alt="">
	</div>
</div>
<div class="card">
	<div class="article">
		<img src="img/article-1.jpg" alt="">
	</div>
</div>
</div>
</ion-content>
</ion-view>
