<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.isf261582" version="0.0.3" versionCode="20" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>I Support Foundation</name>
	<description>
				I Support Foundation-'An application with information on all about Autism and resources available for Autistic children in Bangalore, India'. This application is very handy, easy with everyday use by parents to make autistic children life better.

				Read more:
				Autism, is part of my child, it's not everything he is. My child is so much more than a diagnosis.
				Bangalore is a huge city with the ample resources available; quit doctor shopping and find qualified professionals and well equipped rehabilitation centres and schools for your special one. A click away.

				- Special Schools,Psychologists,Rehabilitation centres and Hospital.
				- Tips about dealing with or managing support.
				-Gmap of best resources available in Bangalore, shortcuts to information specifically for parents, relatives and carers of people with autism.

				 There is no known 'cure' for autism. But the early intervention and right support can transform lives.. so click here and install application to find out more!!!
		</description>
	<author email="Connect.isf@gmail.com" href="http://www.isupportfoundation.in/">
			ISF Team
		</author>
	<content src="index.html"/>
	<access origin="*"/>
	<preference name="webviewbounce" value="false"/>
	<preference name="UIWebViewBounce" value="false"/>
	<preference name="DisallowOverscroll" value="true"/>
	<preference name="android-minSdkVersion" value="16"/>
	<preference name="BackupWebStorage" value="none"/>
	<preference name="SplashScreen" value="none"/>
	<preference name="SplashScreenDelay" value="3000"/>
	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" onload="true"/>
	</feature>
	<platform name="android">
		<icon src="resources/android/icon/drawable-ldpi-icon.png" density="ldpi"/>
		<icon src="resources/android/icon/drawable-mdpi-icon.png" density="mdpi"/>
		<icon src="resources/android/icon/drawable-hdpi-icon.png" density="hdpi"/>
		<icon src="resources/android/icon/drawable-xhdpi-icon.png" density="xhdpi"/>
		<icon src="resources/android/icon/drawable-xxhdpi-icon.png" density="xxhdpi"/>
		<icon src="resources/android/icon/drawable-xxxhdpi-icon.png" density="xxxhdpi"/>
	</platform>
	<icon src="resources/android/icon/drawable-xhdpi-icon.png"/>
</widget>
